<%- include("partials/headerpasien.ejs",{title:"Pasien"}) %>
<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </div>
   
    <div class="card-body">

        
    </div>
</div>
<%- include partials/footer.ejs %>