<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOGIN</title>
  </head>
  <body align="center">
    <form class="" action="index.html" method="post">
      <input type="text" name="usename" placeholder="UserName">
      <br>
      <br>
      <input type="password" name="password" placeholder="password">
      <br>
      <br>
      <input type="submit" value="LOGIN"/>
    </form>

  </body>
</html>
