<%- include("partials/headeradmin.ejs",{title:"Pasien"}) %>

  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Pasien</a>
        </li>
        <li class="breadcrumb-item active">Add</li>
      </ol>
    </div>
    <div class="card-body">
      <% if(err){ %>
        <%= err %>
      <% } %>
      <div class="table-responsive">
        <form action="/admin/pasiens/add" method="post">
                name <br>
                <td> <input type="text" name="name" placeholder="Insert name"> </td>
                <br>
                contact
                <br>
                <td> <input type="number" name="contact" placeholder="Insert contact"> </td>
                <br>
                email
                <br>
                <td> <input type="email" name="email" placeholder="Insert email"> </td>
                <br>
                Submit
                <br>
                <td> <input type="submit" value="ADD"> </td>
        </form>

      </div>
    </div>
  </div>

<%- include partials/footer.ejs %>