<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD PASIEN</title>
  </head>
    <body>

      <% if(err){ %>
      <%= err %>
      <% } %>
        <form action="/pasiens/add" method="post">
                name <br>
                <td> <input type="text" name="name" placeholder="Insert name"> </td>
                <br>
                contact
                <br>
                <td> <input type="number" name="contact" placeholder="Insert contact"> </td>
                <br>
                email
                <br>
                <td> <input type="email" name="email" placeholder="Insert email"> </td>
                <br>
                Submit
                <br>
                <td> <input type="submit" value="ADD"> </td>
        </form>
      </table>
      </body>
</html>
