<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>schedule</title>
  </head>
  <body>
    <a href="/dokters/schedule/1/input"> ADD SCHEDULE</a>
    <table>
      <tr>
        <td>Jam Buka</td>
        <td>Jam Tutup</td>
        <td>hari</td>
      </tr>

        <% rows.forEach((row) => { %>
          <tr>
          <td> <%= row.jambuka %> </td>
          <td> <%= row.jamtutup %> </td>
          <td> <%= row.Hari.hari %></td>
          </tr>
        <% }) %>
    </table>


  </body>
</html>
